<template>
    <div class="container">
        <Option
            v-for="option in options"
            v-html="option"
            :disabled="answerGiven"
            :key="option"
            :text="option"
            :correct="option === options[3]"
            @on-click="getAnswer(option)"
        />
    </div>
</template>

<script>
import Option from "./OptionButton";

export default {
    name: "Options",
    components: {
        Option,
    },
    props: {
        options: Array,
        answerGiven: Boolean,
    },
    methods: {
        getAnswer(option) {
            this.$emit("on-choose-answer", option);
        },
    },
};
</script>

<style scoped>
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
</style>
