<template>
    <button
        :disabled="disabled"
        :class="{
            selected: clicked,
            disabled: disabled,
            btn: !disabled,
            'btn-animate': !disabled,
            'btn-white': !disabled,
        }"
        @click="onClick"
    />
</template>

<script>
export default {
    data: () => ({
        clicked: false,
    }),
    props: {
        text: String,
        disabled: Boolean,
    },
    methods: {
        onClick() {
            this.clicked = true;
            this.$emit("on-click");
        },
    },
};
</script>

<style lang="scss">
.btn {
    cursor: url("../../assets/cursor_h.png"), auto;
    height: 100%;
    width: 300px;
    outline: none;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.disabled {
    cursor: url("../../assets/cursor_h.png"), auto;
    height: 100%;
    width: 300px;
    outline: none;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    background-color: #777;
    color: white;
    transform: none;
    transition: none;
}

.disabled:hover {
    box-shadow: none;
    translate: none;
}

.disabled:active {
    box-shadow: none;
    translate: none;
}

.selected {
    background-color: lightgray;
    color: black;
}
</style>
