<template>
    <div class="container">
        <span class="counter"
            >{{ questionNumber }} / {{ numberOfQuestions }}</span
        >
        <div class="question" v-html="question">
            {{ question }}
        </div>
    </div>
</template>

<script>
export default {
    name: "Question",
    props: ["question", "questionNumber", "numberOfQuestions"],
};
</script>

<style scoped>
.counter {
    margin-bottom: 8%;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 2px black;
    color: white;
}

.question {
    font-size: 24px;
    font-weight: 800;
    font-family: monospace;
    text-align: center;
}
</style>
