<template>
    <div class="container">
        <Question
            class="question-container"
            :numberOfQuestions="questions.length"
            :question="questions[currentQuestion].question"
            :questionNumber="currentQuestion + 1"
        />
        <Options
            :options="shuffledArray"
            :answerGiven="isAnswerGiven"
            @on-choose-answer="checkAnswer"
        />
        <Response
            v-show="isAnswerGiven"
            :correctAnswer="correctAnswer"
            :answerIsCorrect="answerIsCorrect"
            @on-next-question="nextQuestion"
        />
    </div>
</template>

<script>
import Question from "./Question";
import Options from "./Options";
import Response from "./Response";

export default {
    data: () => ({
        answerIsCorrect: false,
        isAnswerGiven: false,
    }),
    props: ["questions", "currentQuestion", "correctAnswer"],
    components: {
        Question,
        Options,
        Response,
    },
    computed: {
        currentOptions: function() {
            return [
                ...this.questions[this.currentQuestion].incorrect_answers,
                this.questions[this.currentQuestion].correct_answer,
            ];
        },
        shuffledArray: function() {
            const array = [...this.currentOptions];
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        },
    },
    methods: {
        checkAnswer(answer) {
            this.isAnswerGiven = true;
            this.answerIsCorrect = answer === this.correctAnswer;
            this.$emit("on-answer", answer);
        },
        nextQuestion() {
            this.isAnswerGiven = false;
            this.$emit("on-next-question");
        },
    },
};
</script>

<style scoped>
.question-container {
    padding-bottom: 7%;
    max-width: 70%;
}
</style>
