<template>
    <div class="container">
        <div
            v-html="textToDisplay"
            class="response-text"
            :class="{ incorrect: !answerIsCorrect }"
        >
            {{ textToDisplay }}
        </div>
        <Button @on-click="onNextQuestion" :text="'Next question'"
            >Next question</Button
        >
    </div>
</template>

<script>
import Button from "../BlackButton";

export default {
    name: "Response",
    components: { Button },
    props: ["isAnswerGiven", "correctAnswer", "answerIsCorrect"],
    computed: {
        textToDisplay: function() {
            return this.answerIsCorrect
                ? "That's a bingo!"
                : `Awww... Too bad. The correct answer is: <br> "${this.correctAnswer}"`;
        },
    },
    methods: {
        onNextQuestion() {
            this.$emit("on-next-question");
        },
    },
};
</script>

<style scoped>
.response-text {
    color: lawngreen;
    margin: 5%;
    font-size: 22px;
    font-weight: bolder;
    text-shadow: -2px 2px black;
    width: max-content;
}

.incorrect {
    color: darkorange;
    text-align: center;
}
</style>
