<template>
    <div>
        <div class="container title">
            <h1>Welcome to the great trivya game!</h1>
            <h2>
                Press start to get 10 random questions of random difficulty.
            </h2>
        </div>
        <router-link to="/game">
            <StartButton :text="'start playing'" />
        </router-link>
    </div>
</template>

<script>
import StartButton from "../components/BlackButton";
import store from "../store";

export default {
    name: "StartScreen",
    components: { StartButton },
    created: function() {
        store.setCurrentView("home");
    },
};
</script>

<style>
.title {
    padding-top: 10%;
    margin-bottom: 3%;
}
</style>
