<template>
    <div class="container trivia">
        <Spinner v-show="questions.length === 0" />
        <QuestionsContainer
            v-if="shouldShowQuestions()"
            :questions="questions"
            :currentQuestion="currentQuestion"
            :correctAnswer="correctAnswer"
            @on-answer="onAnswered"
            @on-next-question="onNextQuestion"
        />
        <Results
            v-show="currentQuestion > 9"
            :correctAnswers="correctAnswers"
        />
    </div>
</template>

<script>
import QuestionsContainer from "../components/questions/QuestionsContainer";
import Results from "../components/Results";
import Spinner from "../components/Spinner";

import store from "../store";

import axios from "axios";

export default {
    name: "TriviaPage",
    data: () => ({
        currentQuestion: 0,
        questions: [],
        correctAnswers: 0,
        token: "",
    }),
    components: {
        QuestionsContainer,
        Results,
        Spinner,
    },
    computed: {
        correctAnswer: function() {
            return this.questions[this.currentQuestion].correct_answer;
        },
    },
    created: function() {
        this.token = JSON.parse(window.localStorage.getItem("token"));
        if (!this.token) {
            this.fetchApiToken();
        } else {
            axios
                .get(
                    `https://opentdb.com/api.php?amount=10&token=${this.token}`
                )
                .then((response) => {
                    if (response.data.response_code == 4) {
                        axios
                            .get(
                                `https://opentdb.com/api_token.php?command=reset&token=${this.token}`
                            )
                            .then(() => {
                                this.fetchQuestions();
                            });
                    } else if (response.data.response_code == 3) {
                        this.fetchApiToken();
                    } else {
                        this.fetchQuestions();
                    }
                });
        }
        store.setCurrentView("game");
    },
    methods: {
        fetchApiToken() {
            axios
                .get("https://opentdb.com/api_token.php?command=request")
                .then((response) => {
                    const token = JSON.stringify(response.data.token);
                    window.localStorage.setItem("token", token);
                    this.token = token.replaceAll('"', "");
                    this.fetchQuestions();
                });
        },
        fetchQuestions() {
            axios
                .get(
                    `https://opentdb.com/api.php?amount=10&token=${this.token}`
                )
                .then((response) => {
                    console.log(response);
                    this.questions = response.data.results;
                });
        },
        shouldShowQuestions() {
            return this.questions.length > 0 && this.currentQuestion < 10;
        },
        onAnswered(providedAnswer) {
            providedAnswer === this.correctAnswer && this.correctAnswers++;
        },
        onNextQuestion() {
            this.currentQuestion++;
        },
    },
};
</script>

<style>
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trivia {
    height: 100vh;
    justify-content: center;
}
</style>
