<template>
    <div>
        <router-link class="button-container" to="/">
            <StartButton :text="'Try again'" />
        </router-link>
        <div v-html="message" class="text-container">
            {{ message }}
        </div>
    </div>
</template>

<script>
import StartButton from "../components/BlackButton";

export default {
    components: {
        StartButton,
    },
    props: ["correctAnswers"],
    computed: {
        message() {
            const firstText = `You guessed ${this.correctAnswers} questions correctly`;
            let secondText;
            if (this.correctAnswers < 5) {
                secondText = "You can do better than that...";
            } else if (this.correctAnswers < 9) {
                secondText = "Not bad";
            } else {
                secondText = "Damn you are good!";
            }
            return firstText + "<br>" + secondText;
        },
    },
};
</script>

<style>
.text-container {
    -webkit-text-stroke: 0.5px white;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    margin-top: 7%;
    color: black;
}

.button-container {
    position: inherit;
}
</style>
