<template>
    <div id="app" :class="sharedState.currentView">
        <router-view />
    </div>
</template>

<script>
import store from "./store";
export default {
    data() {
        return {
            sharedState: store.state,
        };
    },
};
</script>
<style>
html,
body {
    padding: 0;
    margin: 0;
    cursor: url("./assets/cursor.png"), auto;
}

#app {
    font-family: monospace, Helvetica, Arial, sans-serif;
    color: #2c3e50;
    min-height: 100vh;
}

.home {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.game {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
</style>
